body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:334px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:97px;
  width:384px;
  height:334px;
  font-size:16px;
  text-align:left;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:380px;
  word-wrap:break-word;
}
